body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pagination {
    width: 700px;
    height: max-content;
    background-color: #ABA9BF;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-top: 20px;
    color: #212121;
}

h2 {
    margin: 0;
    text-align: center;
}

.items {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 0;
}

.items-list {
    padding: 0 20px;
    margin: 10px 0;
}

.page-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: space-around; */
    gap: 15px;
    margin: 15px 0;
}

.page-controls button {
    padding: 8px 20px;
    font-size: 16px;
    border: 1px solid #212121;
    border-radius: 3px;
    width: 100px;
    color: #212121;
    background-color: transparent;
    cursor: pointer;
}

.page-controls button:hover {
    background-color: #414140;
    color: #fff;
}

#page-select {
    width: 35px;
}